<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- 配置bean spring创建的对象-->
	<bean id="studentService" class="com.gem.demo.service.impl.StudentServiceImpl"></bean>
	<bean id="studentDAO"  class="com.gem.demo.dao.impl.StudentDAOImpl"/>
</beans>